<h1>Listing incomes</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Goods type</th>
    <th>Name</th>
    <th>Price</th>
    <th>Memo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @incomes.each do |income| %>
  <tr>
    <td><%= income.date %></td>
    <td><%= income.goods_type %></td>
    <td><%= income.name %></td>
    <td><%= income.price %></td>
    <td><%= income.memo %></td>
    <td><%= link_to 'Show', income %></td>
    <td><%= link_to 'Edit', edit_income_path(income) %></td>
    <td><%= link_to 'Destroy', income, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Income', new_income_path %>
<%= link_to 'back to top', manage_index_path %>
