<%= form_for(@pay, :html => {:multipart => true}) do |f| %>
  <% if @pay.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pay.errors.count, "error") %> prohibited this pay from being saved:</h2>

      <ul>
      <% @pay.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uname, 'User Name: ' %><%= @user.name %><br>
    <%= f.hidden_field :uname, :value => @user.name %>
  </div>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date, :user_month_numbers => true %>
  </div>
  <div class="field">
    <%= f.label :goods_type %><br />
    <%= f.text_field :goods_type %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :receipt_url %><br />
    <%= f.text_field :receipt_url %>
  </div>
  <div class="field">
    <%= f.label :memo %><br />
    <%= f.text_area :memo %>
  </div>

  <div class="field">
    Image File<br>
    <input name="image" type="file" />
  </div>

  <div class="field">
    Receipt Image<br>
    <input name="receipt" type="file" />
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
