<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @pay.date %>
</p>

<p>
  <b>Goods type:</b>
  <%= @pay.goods_type %>
</p>

<p>
  <b>Name:</b>
  <%= @pay.name %>
</p>

<p>
  <b>Price:</b>
  <%= @pay.price %>
</p>

<p>
  <b>Image</b><br>
  <%= image_tag("../image/#{@pay.image_url}", :size=>"100x100") %>
</p>

<p>
  <b>Receipt image</b><br>
  <%= image_tag("../receipt/#{@pay.receipt_url}", :size=>"100x100") %>
</p>

<p>
  <b>Memo:</b>
  <%= @pay.memo %>
</p>


<%= link_to 'Edit', edit_pay_path(@pay) %> |
<%= link_to 'Back', pays_path %>
